/// This file is subject to the terms and conditions defined in
/// the 'LICENSE' file, which is part of this repository.

#pragma once

{% for include in includes -%}
    #include "{{ relative_path }}/{{ include }}"
{% endfor %}
